@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    @content;
  }
}
@mixin large {
  @media only screen and (min-width: 1441px) {
    @content;
  }
}
$primary: #39cdcc;
$secondary: #213f7d;
.containerDash {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  .top-charts {
    background-color: #fff;
    margin-top: 7rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    @include mobile() {
      flex-direction: column;
      margin-top: 2rem;
    }
    @include tablet() {
      flex-direction: column;
      margin-top: 2rem;
    }
    @include laptop() {
      flex-direction: row;
      margin-top: 2rem;
    }
    .bar-chart {
      font-size: 2rem;
      font-weight: 700;
      width: 100%;
      display: grid;
      place-content: center;
      color: $secondary;
    }
  }
  .pieCharts {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    padding: 2rem;
  }
}
