.User-container {
  padding: 6rem 5rem 3rem 5rem;
  color: #213f7d;
  font-family: Arial, Helvetica, sans-serif;
  .flex {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
    gap: 2rem;
    .box {
      width: 25%;
      padding: 2rem;
      background: #ffffff;
      border: 1px solid rgba(33, 63, 125, 0.06);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      color: #213f7d;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        color: #df18ff;
        background-color: #e19eeb;
      }
    }
  }
}
