* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
b {
  background-color: rgb(31, 176, 234);
}
@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    @content;
  }
}
@mixin large {
  @media only screen and (min-width: 1441px) {
    @content;
  }
}
